body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/BookshelfWallpaper.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: orange;
}

.Logo {
  fill: orange;
  width: 20px;
  height: 20px;
}

.Link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.Link:hover .Logo,
.Link:focus .Logo {
  background-color: orange;
  fill: white;
}

.Link:hover,
.Link:focus {
  background-color: orange;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
